.page-header
  %h2 
    Comments Feed
    
  %a{"ng-href" => "{{post.link}})", :target => "_blank"}
    {{post.title}}

%div{"ng-repeat" => "comment in post.comments | orderBy:'-upvotes'"}

  %span.glyphicon.glyphicon-thumbs-up.cursor-pointer{"ng-click" => "incrementUpvotes(comment)"}

  {{comment.upvotes}} - by {{comment.author}}

  %span.comment-it
    {{comment.body}}

%form.top-spacer{"ng-submit" => "addComment()"}
  %h3 New Comment

  .form-group
    %input.form-control{"ng-model" => "body", :placeholder => "Comment", :type => "text"}

    %input.form-control{"ng-model" => "author", :placeholder => "Author", :type => "text"}

  %button.btn.btn-primary{:type => "submit"} Comment it!