%script{:id => "/home.html", :type => "text/ng-template"}
  .page-header
    %h1 Adneom News

  %div{"ng-repeat" => "post in posts | orderBy: '-upvotes'"}

    %span.glyphicon.glyphicon-thumbs-up{"ng-click" => "incrementUpvotes(post)"}

    Votes: {{post.upvotes}}

    %span.post-it
      %a{:href => "{{post.link}}", "ng-show" => "post.link"}
        {{post.title}}

    %span
      %a{:href => "#/posts/{{$index}}"} Comments

  %form.top-spacer{"ng-submit" => "addPost()"}

    %h2 New Post

    .form-group
      %input.form-control{"ng-model" => "title", :placeholder => "Title", :type => "text"}

    .form-group
      %input.form-control{"ng-model" => "link", :placeholder => "Link", :type => "text"}

    %br

    %button.btn.btn-primary{:type => "submit"} Post it!